@{
    ViewData["Title"] = "Home Page";
}

    <div class="container">
        <div class="jumbotron jumbotron-fluid home-intro">
            <div class="container">
                <h1 class="display-4">Chong Tong Le</h1>
                <p class="lead">Designer / Programmer</p>
            </div>
        </div>
        <div class="body-content">
            @foreach (Project item in ViewBag.Projects)
            {
                <figure class="project-css">
                    <img src="https://ddacstorage1.blob.core.windows.net/test-blob-container/@item.CoverPhoto" />
                    <div>
                        <h1 class="title">@Html.DisplayFor(modelItem => item.Title)</h1>
                        <h2 class="sutitle">@Html.DisplayFor(modelItem => item.Description)</h2>
                    </div>
                </figure>
            }
        </div>
    </div>
